<div class="form-container">
    <div class="form-text">
        <h1>Add Color</h1>
        <hr />
        <form [formGroup]="addColorForm" (ngSubmit)="onAddColorSubmit()" novalidate>
            
                <div class="form-floating mb-2">
                    <input class="form-control"
                        type="text" 
                        formControlName="colorName" 
                        name="colorName" 
                        id="colorName" 
                        placeholder="red" 
                        [class.is-invalid]="colorName.invalid && (colorName.touched || colorName.dirty)"
                        [class.is-valid]="false"
                        (click)="reinitializeFormIfNeeded()"
                    />
                    <label for="colorName">Color Name</label>
                </div>

                @if (colorName?.invalid && (colorName?.touched || colorName?.dirty)) {
                    @if (colorName?.hasError('required')) { <span class="error-box mb-2" aria-live="polite">A Name is Required!</span> }
                    @if (colorName?.hasError('pattern')) { <span class="error-box mb-2" aria-live="polite">Name cannot be blank!</span> }
                }

            <p>
                <label for="colorValue">Color Value:</label>
                <input type="color" formControlName="colorValue" name="colorValue" id="colorValue" class="m-2" />
            </p>
            <div class="submit-button-container">
                <button type="submit" [disabled]="!addColorForm.get('colorName')?.value?.trim()">Submit</button>
                @if (addColorSuccess && addColorForm.touched) {
                    <span class="success-box" aria-live="polite">Color added!</span>
                } @else if (isDuplicateColorName) {
                    <span class="error-box" aria-live="polite">A color with that name already exists!</span>
                } @else if (isDuplicateHexValue) {
                    <span class="error-box" aria-live="polite">A color with that color value already exists!</span>
                }
            </div>
        </form>
    </div>
</div>
