<div class="form-container">
    <div class="form-text">
        <h1>Add Color</h1>
        <hr />
        <form [formGroup]="addColorForm" (ngSubmit)="onAddColorSubmit()">
            <p>
                Color Name:
                <input type="text" formControlName="colorName" name="colorName" />

                @if (addColorFormColorName?.invalid && (addColorFormColorName?.touched || addColorFormColorName?.dirty)) {
                    @if (addColorFormColorName?.hasError('required')) { <span class="error-box">Required!</span> }
                }
            </p>
            <p>
                Color Value:
                <input type="color" formControlName="colorValue" name="colorValue" />
            </p>
            <div class="submit-button-container">
                <button type="submit">Submit</button>
            </div>
            @if (addColorSuccess) {
                <p>Color added!</p>
            } @else if (addColorDuplicateName) {
                <p>A color with that name already exists!</p>
            } @else if (addColorDuplicateHexValue) {
                <p>A color with that color value already exists!</p>
            } @else if (addColorFailure) {
                <p>Unable to add color!</p>
            }
        </form>
    </div>
</div>
