<div class="form-container">
	<div class="form-text delete-color-box">
	  <h1>Delete Color</h1>
	  <hr />

	  <form [formGroup]="deleteColorForm" (ngSubmit)="onDeleteColorSubmit()">
		<p>
		  Select Color To Delete:
		  <select
				[formControl]="selectedId"
				name="selectedColor"
				class="color-dropdown"
				[ngStyle]="{
					'background-color': getSelectedHex(),
					'color': getTextColorForBackground(getSelectedHex())
				}"
				(click)="reinitializeFormIfNeeded()"
			>
				<option [ngValue]="null" disabled selected>Select a color</option>
				<option *ngFor="let option of colorDropdownOptions" [value]="option.value">
					{{ option.label }}
				</option>
			</select>
		</p>
  
		<p>
		  <input type="checkbox" formControlName="confirmDelete" id="confirmDelete" style="margin-right: 0.5rem"/>
		  <label for="confirmDelete">I confirm that I want to delete this color.</label>
		</p>

		<div class="submit-button-container">
		  <button type="submit" class="btn-19" [disabled]="!deleteColorForm.get('confirmDelete')?.value">Delete</button>
  
		  <span *ngIf="isSubmitted && deleteSuccess" class="success-box" aria-live="polite">Color deleted successfully!</span>
		  <span *ngIf="deleteFailure" class="error-box" aria-live="polite">Failed to delete color.</span>
		  <span *ngIf="notEnoughColors" class="error-box" aria-live="polite">Cannot delete when fewer than 3 colors exist.</span>
		  <!-- <span *ngIf="confirmDeleteError && !deleteColorForm.get('confirmDelete')?.value" class="error-box" aria-live="polite">You must confirm deletion by checking the box.</span> -->
		  
		</div>
	  </form>
	</div>
  </div>

  <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">
    <div #deleteSuccessToast id="deleteSuccessToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="images/logo-no-text.png" class="rounded me-2 website-icon" alt="...">
        <strong class="me-auto">GlimmerByte</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <strong>Color successfully deleted!</strong><br />
        Deleted Color Name: <strong>{{ deletedColorName }}</strong> <br />
        Deleted Hex Value: <strong>{{ deletedColorValue}}</strong> <br />
        Deleted Color:
        <input type="color" [value]="deletedColorValue" disabled />
      </div>
    </div>
  </div>
  