.form-container {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
  }
  
  .form-line {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* background-color: var(--primary);
    padding:10px;
    border-radius: 10px; */
  }
  
  .form-text {
    flex: 1;
    font-size: 1.2rem;
    color: var(--text);
    line-height: 1.6;
    padding: 1rem;
    background: var(--background);
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border: var(--accent-two) 2px solid;
  }

  hr {
    border: none;
    border-top: 3px solid var(--accent-one);
    margin: 2rem 0;
    width: 100%;
    align-self: center;
    opacity: 0.8;
  }