<form class="no-print" [formGroup]="rowsColumnsColorsForm" (ngSubmit)="onSubmit()">
    <p>
        Rows (1-1000):
        <input type="text" formControlName="rows" name="rows" />

        @if (rows?.invalid && (rows?.touched || rows?.dirty)) {
            @if (rows?.hasError('required')) { <span class="error-box">Required!</span> }
            @if (rows?.hasError('min')) { <span class="error-box">Minimum is 1!</span> }
            @if (rows?.hasError('max')) { <span class="error-box">Maximum is 1000!</span> }
            @if (rows?.hasError('pattern')) { <span class="error-box">Only numeric characters are allowed!</span> }

        }
    </p>
    <p>
        Columns (1-702):
        <input type="text" formControlName="columns" name="columns" />

        @if (columns?.invalid && (columns?.touched || columns?.dirty)) {
            @if (columns?.hasError('required')) { <span class="error-box">Required!</span> }
            @if (columns?.hasError('min')) { <span class="error-box">Minimum is 1!</span> }
            @if (columns?.hasError('max')) { <span class="error-box">Maximum is 702!</span> }
            @if (columns?.hasError('pattern')) { <span class="error-box">Only numeric characters are allowed!</span> }
        }
    </p>
    <p>
        Colors (1-{{ this.numberOfColorsInDatabase }}):
        <input type="text" formControlName="colors" name="colors" />
        
        @if (colors?.invalid && (colors?.touched || colors?.dirty)) {
            @if (colors?.hasError('required')) { <span class="error-box">Required!</span> }
            @if (colors?.hasError('min')) { <span class="error-box">Minimum is 1!</span> }
            @if (colors?.hasError('max')) { <span class="error-box">Maximum is {{ this.numberOfColorsInDatabase }}!</span> }
            @if (colors?.hasError('pattern')) { <span class="error-box">Only numeric characters are allowed!</span> }

        }
    </p>

    <div class="submit-button-container">
        <button class="primary-button" type="submit"[disabled]="rowsColumnsColorsForm.invalid">Submit</button>
    </div>
</form>

@if (formSubmitted) {
    <app-color-generator [rows]="numberOfRows!" [columns]="numberOfColumns!" [amountOfColorOptions]="numberOfColors!">
    </app-color-generator>
}
