<img src="images/transparent-logo.png" alt="Logo" class="print-only print-logo" />
<hr class="no-print">
@if (colors > 0) {
<div class="table-one-wrapper">
  <div class="table-wrapper">
    <table id="tableone" class="no-print table-one">
      @for (color of colorSelections; track $index) {
      <tr id="color-select-row-{{ $index }}">
        <td style=" width: 20%">
          <div class="color-select-row" id="{{colorSelections[$index]}}">
            <input type="radio" class="radio-input" name="selectedColor" [value]="$index"
              [(ngModel)]="selectedRowIndex" />
            <div class="dropdown-wrapper">
              <label class="dropdown-label"></label>
              @if (colorSelections.length > 0) {
              <select class="color-dropdown" [ngStyle]="{ 'background-color': colorSelections[$index] }"
                [(ngModel)]="colorSelections[$index]">
                @let backgroundColor = colorSelections[$index];
                @for (option of colorOptions; track option.label) {
                <option [value]="option.value" [disabled]="isColorUsed(option.value)"
                  [style.color]="checkColorContrast(backgroundColor, isColorUsed(option.value))">
                  {{ option.label }}
                </option>
                }
              </select>
              }
            </div>

          </div>
        </td>
        <td style="width: 80%" class="color-select-row">
          <div class="color-select-row">

          </div>
        </td>
      </tr>
      }
    </table>
  </div>
</div>
}

<hr class="no-print">

<div class="table-container">
  <div class="table-wrapper">
    <!-- @if (isPrinting) {  Printable Table -->
    <table id="coordinate-table-printable" class="{{ printScaleClass }} print-only">
      <tr class="sticky-header">
        <th></th>
        @for (columns of columnIndices; track $index) {
        <th>{{ headerLetters[$index] }}</th>
        }
      </tr>
      @for (row of rowIndices; track $index; let rowNumber = $index) {
      <tr>
        <th>{{ rowNumber + 1 }}</th>
        @for (column of columnIndices; track $index; let columnNumber = $index) {
        <td class="{{ headerLetters[columnNumber] + (rowNumber + 1) }}">
          @if (isRevealed(rowNumber, columnNumber)) {
          {{ headerLetters[columnNumber] + (rowNumber + 1) }}
          }
        </td>
        }
      </tr>
      }
    </table>
    <!-- } -->
    @if (!isPrinting) { <!-- Visible Table -->
    <cdk-virtual-scroll-viewport itemSize="20" minBufferPx="1200" maxBufferPx="1800" appendOnly
      class="example-viewport screen-only">
      <table id="coordinate-table" class="{{ printScaleClass }}">
        <tr class="sticky-header">
          <th></th>
          @for (columns of columnIndices; track $index) {
          <th>{{ headerLetters[$index] }}</th>
          }
        </tr>
        @for (row of rowIndices; track $index; let rowNumber = $index) {
        <tr>
          <th>{{ rowNumber + 1 }}</th>
          @for (column of columnIndices; track $index; let columnNumber = $index) {
          <td (click)="onCellClick(rowNumber, columnNumber)"
            class="{{ headerLetters[columnNumber] + (rowNumber + 1) }}">
            <span [class.hidden]="!isRevealed(rowNumber, columnNumber)">
              {{ headerLetters[columnNumber] + (rowNumber + 1) }}
            </span>
          </td>
          }
        </tr>
        }
      </table>
    </cdk-virtual-scroll-viewport>
    }

  </div>
</div>



<div class="print-button-container no-print">
  <button (click)="printPage()">Print</button>
</div>

<div class="after-print-button-spacer no-print"></div>
